---
layout: page
title: Projects
---

<style>

html body {
  /* We include the default font stack as a fallback */
  font-family: "Noto Sans", "Noto CJK", sans-serif;
}
  
.pubteaser {
  clear: both;
}

.pubteaser a {
  float: left;
  margin-right: 2em;
}

.pubteaser img {
  width: 100px;
  border: 1px solid black;
}

.pubitem {
  margin: 2em 0;
  line-height: 1em;
}

.pubtitle {
  margin-bottom: 0.5em;
  line-height: 1.2em;
  font-weight: bold;
  font-size: 125%;
}

.pubauthors,
.pubinfo {
  font-size: 100%;
  margin-bottom: 0.75em;
}

.pubsummary {
  font-size: 100%;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}
</style>

<h1 class="mt-4"></h1>
{% assign publications = site.publications | sort: "year" | reverse %}
{% for pub in publications %}
<div class="pubitem">
  <div class="pubteaser">
    <a href="{{pub.url}}">
      <img src="/images/{{ pub.slug }}_small.jpg" style="width:256px;height:256px;" alt="{{pub.slug}} project teaser"/>
    </a>
  </div>
  <div class="pubtitle">
    {{ pub.title }}
  </div>
  <div class="pubauthors">
    {{ pub.authors }}
  </div>
  <div class="pubsummary">
    {{ pub.summary }}
  </div>
<!--   <div class="pubinfo">
    {{ pub.publication }}, {{ pub.year}}
  </div> -->
  <div class="publinks">
    {% if pub.pdf %}
    <a href="/download/{{ pub.slug}}.pdf"><i class="far fa-file-pdf"></i> PDF</a>&nbsp;&nbsp;
    {% endif %}
    <a href="{{pub.url}}"><i class="fas fa-arrow-right"></i> Full Abstract </a>
  </div>
</div>
<!-- <hr> -->
{% endfor %}


